html {
  height: 100%;
  width: 100%;
}
h1{
  font-family: Impact; 
}
body{
  background-color: #05cdff;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

img:hover {
  size: ;
}